$color-bg-primary: var(--color-bg-primary);
$color-bg-secondary: var(--color-bg-secondary);
$color-font-primary: var(--color-font-primary);
$color-font-secondary: var(--color-font-secondary);
$color-placeholder: var(--color-placeholder);
$color-success: var(--color-success);
$color-danger: var(--color-danger);

$box-shadow-primary: var(--box-shadow-primary);
$box-shadow-primary-light: var(--box-shadow-primary-light);
$box-shadow-secondary: var(--box-shadow-secondary);
$border-radius: var(--border-radius);
$font-size-sm: var(--font-size-sm);
$font-size-md: var(--font-size-md);
$font-size-lg: var(--font-size-lg);
$transition-default: var(--transition-default);
